<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BackendUrl" value="https://projectxgatewayapi-app-20231130.icybay-6c4fad7d.westus2.azurecontainerapps.io"/>
		<add key="SignalRUrl" value="https://projectxgatewayapi-app-20231130.icybay-6c4fad7d.westus2.azurecontainerapps.io/streamHub"/>
		<add key="ForceDisableSignalR" value="false"/>
	</appSettings>
</configuration>