<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BackendUrl" value="https://projectxgatewayapi-app-20231130.yellowfield-d8e525a6.uksouth.azurecontainerapps.io"/>
		<add key="SignalRUrl" value="https://projectxgatewayapi.service.signalr.net"/>
		<add key="ForceDisableSignalR" value="false"/>
	</appSettings>
</configuration>